<div class="alert alert-success alert-dismissible fade in" ng-show="showAlert['success']">
  <a href="#" class="close" aria-label="close" ng-click="hideGenericAlert('success')">&times;</a>
  <strong>Success!</strong> {{alertMsg}}
</div>

<div class="alert alert-info alert-dismissible fade in" ng-show="showAlert['info']">
  <a href="#" class="close" aria-label="close" ng-click="hideGenericAlert('info')">&times;</a>
  <strong>Info!</strong> {{alertMsg}}
</div>

<div class="alert alert-warning alert-dismissible fade in" ng-show="showAlert['warning']">
  <a href="#" class="close" aria-label="close" ng-click="hideGenericAlert('warning')">&times;</a>
  <strong>Warning!</strong> {{alertMsg}}
</div>

<div class="alert alert-danger alert-dismissible fade in" ng-show="showAlert['danger']">
  <a href="#" class="close" aria-label="close" ng-click="hideGenericAlert('danger')">&times;</a>
  <strong>Danger!</strong> {{alertMsg}}
</div>
