<!-- The Modal -->
<div id="file_properties_modal" class="w3-modal">
  <div class="w3-modal-content">
    <header class="w3-container w3-blue">
      <span ng-click="clearPropertiesData()" class="w3-button w3-display-topright">&times;</span>
      <h2>Properties</h2>
    </header>

    <div class="w3-container">
      <ul id="file_properties_list w3-card-2" class="w3-bar-block w3-border">
        <li class="w3-bar-item">File name: {{selectedFile.fileName}}</li>
        <li class="w3-bar-item">File path: {{selectedFile.filePath}}</li>
        <li class="w3-bar-item">File size: {{selectedFile.fileSize}}</li>
        <li class="w3-bar-item">File type: {{selectedFile.fileType}}</li>
        <li class="w3-bar-item"
            ng-show="selectedFile.fileType=='file'">File extension: {{selectedFile.fileExtension}}</li>
      </ul>
    </div>

  </div>
</div>
