<!-- The Modal -->
<div id="audio_player_modal" class="w3-modal">
  <div class="w3-modal-content" style="width:65%;">
    <header class="w3-container w3-blue">
      <span class="w3-button w3-display-topright"
            ng-click="clearAudioData()">&times;</span>
      <h2>Audio Player</h2>
      <p>{{audioNameShown}}</p>
    </header>

    <div class="w3-container">
      <center>
  			<audio width="100%" src="{{audio_url}}" type="{{contentType}}" controls></audio>
  		</center>
    </div>

  </div>
</div>
